.stockProduct{
   padding:50px 0px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.stock_p{
    border: 1px solid;
    padding:30px;
}
.stock_p img{
        width:100px;
        align-items: center;
}